@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://bitbucket.org/petejespersoptix/interview.deckofcards.paulnoakes/src/master/README.md" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


<nav class="navbar fixed-bottom navbar-light bg-light">
    <a href="https://www.me.uk/cards/">Free SVG playing cards - by Adrian Kennard</a>
</nav>

